# Ignore node_modules
node_modules/

# Ignore build output
dist/
build/

# Ignore Vite cache
.vite/

# Ignore log files
*.log

# Ignore .env
.env

# Ignore map files
*.map

# Ignore metadata
_metadata.json
